@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    
}

body{
    background-image: url("../images/home2.jpg");
    background-size:cover;
    background-repeat:no-repeat;  
     font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: azure;

    
}
#outer{
    background-color: rgba(19, 17, 18, 0.4);
    width:500px;
    height:400px;
    margin:auto;
    margin-left:50px;
    border-radius:30px;
    margin-top:30px;
    padding-top:10px;

    
}

label{
    font-weight: bolder;
    font-size: 20px;;
}


form label,input{
    display: block;
    padding:10px;
    margin-left:50px;
    width:300px;
    border-radius: 5px;;
}
#submitBtn
{
    background-color: rgb(23, 135, 47);
    border-radius: 7px;
    background-color: cadetblue;
    border:3px solid green;
    font-weight: bolder;
    font-size:17px;
    width:100px;
    margin-top:10px;
    margin-left:100px;
    height:40px;
}
#submitBtn:hover{
    transform: scale(1.1);
    background-color: darkgreen;
}
form input{
    border-radius: 5px;
}
#login{
    margin-left:50px;
    margin-top:30px;  
    font-weight:500; 
}
#login a{
    border:3px solid green;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    padding:7px;
    background-color: cadetblue;
    color:rgb(14, 20, 14);
    border-radius:7px;
   
}
#login a:hover{
    transform: scale(1.2);
    background-color: rgb(7, 114, 7);
}
.form-group span{
    visibility: hidden;
}

.error span{
    color:red;
    font-size:14px;
    margin-left:50px;
    visibility: visible;
    font-weight: bolder;
}
.fa-envelope{
    margin-right:7px;
}
.fa-eye{
    margin-right:7px;
    width:20px;
    cursor:pointer;
}
.errorNotFound{
    color:red;
    
}
.success{
     color:rgb(15, 188, 15);
     margin-left:50px;
     font-weight: bolder;
     font-size:18px;
}

